<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN" >
<mapper namespace="com.eastebiz.dao.PackageListDao">

  <select id="selectAllPackageById" resultType="PackageList">
    select *
      from packagelist
      where  UserId=#{userId}

  </select>
</mapper>
