<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eastebiz.dao.PackageListDao">

<select id="selectAllPackageById" resultType="PackageList">
    select *
      from packagelist
      where  UserId=#{userId}

  </select>
</mapper>
